.header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px
}

.upper-page {
    background-color: #1f2937;
    padding-bottom: 80px;
    color: white;
}

ul {
    display: flex;
    gap: 5px;
    list-style: none;
}

p {
    display: flex;
}

.block1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}

.imgblock1 {
    width: 450px; height: 200px;
}

.sx {
    height: 200px;
    width: 450px;
}

button {
    width: 90px;
    background-color: #3a82f6;
    color: white;
    border-radius: 6px;
}

.text {
    width: 300px;
}


.container {
    padding: 0px 150px;
}

#h2text {
    color: black;
    padding-top: 16px;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
}

.imgblock2 img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.imgblock2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 48px;
    
}

.block3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#block3txt {
    font-size: 34px;
    padding: 50px;
    display: flex;
    align-items: center;
}
